*{
margin:0;
padding: 0;
box-sizing:border-box;

scroll-behavior: smooth;
}
html,body {
height :100%;
width :100%;
background-color: black;
}

.cotainer{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    z-index: 999;
    background-color: #4b4b4b5b;
    backdrop-filter: blur(10px);
}
.head-left{
    display: flex;
    align-items: center;
}
.head-left img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.head-left button{
    border: none;
    background-color: white;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
    transition: 0.3s;

}

.head-left button:hover{
    opacity: 0.7;

}

.head-right{
    display: flex;
}

.head-right a{
    text-decoration: none;
    color: white;
    padding-left: 20px;
}

.hero-section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-vid{
    width: 100%;
    height: 100%;
    position: relative;
}

.hero-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-info{
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 50px;
}

.hero-info h1{
    font-size: 120px;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 20px;
}

.hero-info p{
    max-width: 210px;
    margin-bottom: 15px;
}

.hero-info button{
    background-color: #edff66;
    border: 2px solid #edff66;
    padding: 10px 40px;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    transition: 0.3s;
}

.hero-info button:hover{
    background-color: transparent;
    color: white;
    box-shadow: 0 0 15px #edff66;
}

.gamming-text{
    font-size: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    margin: 0;
    right: 20px;
    bottom: 30px;
}

/* NEXT BTN */
.next-btn{
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: #edff66;
    color: black;
    border-radius: 50%;
    left: 45%;
    bottom: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 99;
    opacity: 0.5; 
    /* opacity: 0 ahe */
    transition: 0.5s;
}

.next-btn:hover{
    width: 200px;
    width: 200px;
    opacity: 1.5;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.691);
}

/* About Section */
.about-section{
    width: 100%;
    height: 100%;
    margin-top: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.image-box{
    width: 360px;
    height: 510px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    overflow: hidden;
}
/* .stones-img{
    position: absolute;
    margin-top: 22px;
    width: 500px;
} */
/* mobile view sathi .stones-img{
margin-top: 80px
width:400px
} */

.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-section p{
    font-size: 15px;
}
.about-section h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-size: 100px;
    max-width: 1150px;
    text-align: center;
    margin: 25px 0;
    text-transform: uppercase;
    background: linear-gradient(to right, #4acfee, #53f8c9, #02d79a, #6070fd, #2a46ff, #0099ff, #4acfee );
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradiant 2.5s linear infinite;
}

@keyframes animate-gradiant{
    to{
        background-position: 200%;
    }
}

.about-section h4{
    margin-top: 50px;
    margin-bottom: 0;
}

.about-section h5{
    margin-top: 5px;
    color: gray;
    max-width: 450px;
    text-align: center;
    line-height: 25px;
}