*{
margin:0;
padding: 0;
box-sizing:border-box;

scroll-behavior: smooth;
}
html,body {
height :100%;
width :100%;
background-color: black;
}

.cotainer{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    z-index: 999;
    background-color: #4b4b4b5b;
    backdrop-filter: blur(10px);
}
.head-left{
    display: flex;
    align-items: center;
}
.head-left img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.head-left button{
    border: none;
    background-color: white;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
    transition: 0.3s;

}

.head-left button:hover{
    opacity: 0.7;

}

.head-right{
    display: flex;
}

.head-right a{
    text-decoration: none;
    color: white;
    padding-left: 20px;
}

.hero-section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-vid{
    width: 100%;
    height: 100%;
    position: relative;
}

.hero-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-info{
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 50px;
}

.hero-info h1{
    font-size: 120px;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 20px;
}

.hero-info p{
    max-width: 210px;
    margin-bottom: 15px;
}

.hero-info button{
    background-color: #edff66;
    border: 2px solid #edff66;
    padding: 10px 40px;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    transition: 0.3s;
}

.hero-info button:hover{
    background-color: transparent;
    color: white;
    box-shadow: 0 0 15px #edff66;
}

.gamming-text{
    font-size: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    margin: 0;
    right: 20px;
    bottom: 30px;
}

/* NEXT BTN */
.next-btn{
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: #edff66;
    color: black;
    border-radius: 50%;
    left: 45%;
    bottom: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    transition: 0.5s;
}

.next-btn:hover{
    width: 200px;
    width: 200px;
    opacity: 1;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.691);
}