* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

.cotainer {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  z-index: 999;
  background-color: #4b4b4b5b;
  backdrop-filter: blur(10px);
}
.head-left {
  display: flex;
  align-items: center;
}
.head-left img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.head-left button {
  border: none;
  background-color: white;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 700;
  transition: 0.3s;
}

.head-left button:hover {
  opacity: 0.7;
}

.head-right {
  display: flex;
}

.head-right a {
  text-decoration: none;
  color: white;
  padding-left: 20px;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-vid {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-info {
  position: absolute;
  z-index: 1;
  top: 80px;
  left: 50px;
}

.hero-info h1 {
  font-size: 120px;
  font-weight: 900;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: normal;
  margin-top: 30px;
  margin-bottom: 20px;
}

.hero-info p {
  max-width: 210px;
  margin-bottom: 15px;
}

.hero-info button {
  background-color: #edff66;
  border: 2px solid #edff66;
  padding: 10px 40px;
  border-radius: 20px;
  cursor: pointer;
  color: black;
  transition: 0.3s;
}

.hero-info button:hover {
  background-color: transparent;
  color: white;
  box-shadow: 0 0 15px #edff66;
}

.gamming-text {
  font-size: 120px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  position: absolute;
  margin: 0;
  right: 20px;
  bottom: 30px;
}

/* NEXT BTN */
.next-btn {
  width: 200px;
  height: 200px;
  position: absolute;
  background-color: #edff66;
  color: black;
  border-radius: 50%;
  left: 45%;
  bottom: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  z-index: 99;
  opacity: 0.5;
  /* opacity: 0 ahe */
  transition: 0.5s;
}

.next-btn:hover {
  width: 200px;
  width: 200px;
  opacity: 1.5;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.691);
}

/* About Section */
.about-section {
  width: 100%;
  height: 100%;
  margin-top: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.image-box {
  width: 360px;
  height: 510px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  overflow: hidden;
}
/* .stones-img{
    position: absolute;
    margin-top: 22px;
    width: 500px;
} */
/* mobile view sathi .stones-img{
margin-top: 80px
width:400px
} */

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-section p {
  font-size: 15px;
}
.about-section h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 900;
  font-size: 100px;
  max-width: 1150px;
  text-align: center;
  margin: 25px 0;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    #4acfee,
    #53f8c9,
    #02d79a,
    #6070fd,
    #2a46ff,
    #0099ff,
    #4acfee
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradiant 2.5s linear infinite;
}

@keyframes animate-gradiant {
  to {
    background-position: 200%;
  }
}

.about-section h4 {
  margin-top: 50px;
  margin-bottom: 0;
}

.about-section h5 {
  margin-top: 5px;
  color: gray;
  max-width: 450px;
  text-align: center;
  line-height: 25px;
}

/* info Section */
.info-section {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  margin-top: 100px;
}

.info-section h3 {
  margin-bottom: 0;
}

.info-section p {
  margin-top: 5px;
  max-width: 400px;
  color: gray;
  line-height: 25px;
}

.info-cards {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.card {
  position: relative;
  width: auto;
  height: 40vh;
  overflow: hidden;
  border: 1px solid gray;
  border-radius: 20px;
  transition: 0.5s;
}
.card:hover {
  box-shadow: 0 0 15px white;
}
.card h1 {
  position: absolute;
  margin: 0;
  top: 10px;
  left: 5%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 60px;
  z-index: 1;
  background: linear-gradient(
    to right,
    #4acfee,
    #53f8c9,
    #02d79a,
    #6070fd,
    #2a46ff,
    #0099ff,
    #4acfee
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradiant 2.5s linear infinite;
  max-width: 250px;
}
.card p {
  color: lightgray;
  position: absolute;
  top: 80px;
  left: 5%;
  z-index: 1;
  max-width: 250px;
}
.card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card button {
  position: absolute;
  bottom: 5%;
  left: 5%;
  padding: 10px 25px;
  border-radius: 20px;
  background-color: #0f1217;
  color: gray;
  box-shadow: 0 0 5px lightgray;
  transition: 0.3s;
  cursor: pointer;
}
.card button:hover {
  box-shadow: 0 0 15px lightgray;
  opacity: 0.7;
}

.card:nth-child(1) {
  grid-column: span 2;
}

.card:nth-child(2) {
  grid-row: span 2;
  height: 83vh;
}

/* contact section */
.contact-section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85vh;
  align-items: center;
  margin-top: 100px;
  /* margin-bottom: 200px; */
}

.contact-section .img1 {
  position: absolute;
  top: 5%;
  /* top:10% hoti agoder */
  right: 20px;
  height: 400px;
  clip-path: polygon(22% 0, 94% 0, 75% 100%, 0% 100%);
}

.contact-section .img2 {
  position: absolute;
  height: 200px;
  top: 10px;
  left: 50px;
  clip-path: polygon(35% 6%, 75% 0%, 100% 50%, 75% 100%, 36% 98%, 8% 50%);
}

.contact-section .img3 {
  position: absolute;
  width: 250px;
  height: 250px;
  bottom: 20%;
  left: 5%;
  clip-path: polygon(53% 5%, 100% 38%, 82% 100%, 34% 93%, 0% 38%);
}

.contact-section p {
  margin-top: 100px;
}
.contact-section h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 70px;
  max-width: 550px;
  text-align: center;
  background: linear-gradient(
    to right,
    #4acfee,
    #53f8c9,
    #02d79a,
    #6070fd,
    #2a46ff,
    #0099ff,
    #4acfee
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradiant 2.5s linear infinite;
}

.contact-section button {
  padding: 10px 25px;
  border-radius: 20px;
  background-color: #0f1217;
  color: gray;
  box-shadow: 0 0 5px lightgray;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 25px;
  outline: none;
}
.contact-section button:hover {
  box-shadow: 0 0 15px lightgray;
  transform: scale(1.1);
}

.footer{
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.337);
  backdrop-filter: blur(10px);
}

.footer p{
  margin: 0 20px;
}
.footer ul{
  display: flex;  
  list-style: none;
  margin-right: 140px;
}
.footer i{
  padding: 7px 7px;
  transition: 0.3s;
  font-size: 25px;
  cursor: pointer;
}
.stones-img{
  position: absolute;
  margin-top: 22%;
  width: 500px;
}

/* Blur Animation for hero section & h1's */
.autoBlur{
  animation: autoBlureAnimation linear both;
  animation-timeline: view();
}
@keyframes autoBlureAnimation{
  0%{
    filter: blur(40px);
  }
  40%,60%{
    filter: blur(0);
    transform: translateY(0px);
    opacity: 1;
  }
  100%{
    filter: blur(40px);
    transform: translateY(-200px);
    opacity: 0;
  }
}

/* Take Full Screen ANimation for about img*/
.autoTakeFull{
  animation: autoTakeFull both;
  animation-timeline: view(70% 65%);
}
@keyframes autoTakeFull{
  to{
    width: 100%;
    height: 100vh;
    border-radius: 0;
    margin-bottom: 100px;
  }
}

/* Auto Display Animation  */
.autoDisplay{
  animation: autoDisplayAnimation both;
  animation-timeline: view(70% 5%);
}
@keyframes autoDisplayAnimation{
  from{
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }to{
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* Responsiveness For Mobile Devicess */
@media  screen and (max-width:650px) {
  header{
    padding: 0 10px;
  }
  .head-left button{
    display: none;
  }
  .head-right a{
    padding: 0 5px;
    font-size: 12px;
  }
  .hero-info{
    left: 5%;
  }
  .hero-section h1{
    font-size: 90px;
  }
  .next-btn{
    left: 30%;
    top: 40%;
  }
  /* about section sathi */
  .about-section{
    margin: 0;
  }
  .about-section h1{
    font-size: 50px;
  }
  .image-box{
    width: 300px;
    height: 500px;
  }
  .about-section h4, .about-section h5{
    max-width: 350px;
    text-align: center;
  }
  /* contact section sathi */
  .contact-section .img1{
    width: 150px;
    height: 200px;
    right: 0;
    top: 10px;
  }
  .contact-section .img2{
    width: 180px;
    height: 180px;
    left: -70px;
    /* left: -40px ahe */
    top: 30px;
  }
  .contact-section .img3{
    width: 150px;
    height: 200px;
    left: -40px;
    bottom: 0;
  }
  .contact-section h1{
    font-size: 60px;
    max-width: 300px;
  }
  .footer p{
    display: none;
  }
  .footer ul{
    margin-left: 130px;
  }
  .stones-img{
    margin-top: 80%;
    width: 400px;
  }
}